h1{
    color:palevioletred;
    font-size: 60px;
    font-family:'Courier New', Courier, monospace;
}

h2{
    color:whitesmoke;
    background-color:lightseagreen;
    font-size: 28px;
    font-family:'Courier New', Courier, monospace;
}

body{
    background-color:antiquewhite;
    font-size: 18px;
    color:black;
    font-family: 'Times New Roman';
}

li{
    border: solid 2px green;
    border-width: 5pz;
    border-style: dashed;
    border-color: lightcoral;
}

p{
    font-size: 32px;
}